<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>totalResultsCount</key><integer>1</integer><key>geonames</key><array><dict><key>countryId</key><integer>1269750</integer><key>adminCode1</key><integer>5</integer><key>countryName</key><string>India</string><key>fclName</key><string>country, state, region,...</string><key>countryCode</key><string>IN</string><key>lng</key><real>76.78147</real><key>fcodeName</key><string>second-order administrative division</string><key>toponymName</key><string>Chandigarh</string><key>fcl</key><string>A</string><key>name</key><string>Chandigarh</string><key>fcode</key><string>ADM2</string><key>geonameId</key><integer>9747956</integer><key>lat</key><real>30.73006</real><key>adminName1</key><string>Chandigarh</string><key>population</key><integer>0</integer></dict></array></dict></plist>
