<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>totalResultsCount</key>
	<integer>26</integer>
	<key>geonames</key>
	<array>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.58</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Ahmadābād</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Ahmadābād</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1279234</integer>
			<key>lat</key>
			<real>23.03</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>7214225</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>70.75</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Amreli</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Amreli district</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1278716</integer>
			<key>lat</key>
			<real>20.86667</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1514190</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.75</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Anand</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Anand</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>7627221</integer>
			<key>lat</key>
			<real>22.4</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2092745</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.5</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Banās Kāntha</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Banās Kāntha</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1277417</integer>
			<key>lat</key>
			<real>24.25</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>3120506</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<integer>73</integer>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Bharūch</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Bharūch</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1276101</integer>
			<key>lat</key>
			<real>21.75</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1551019</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>71.83333</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Bhāvnagar</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Bhāvnagar</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1276033</integer>
			<key>lat</key>
			<real>21.66667</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2880365</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<integer>74</integer>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Dohad</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Dohad</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>7627226</integer>
			<key>lat</key>
			<real>22.9</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2127086</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.41667</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Gāndhīnagar</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Gāndhīnagar</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1271716</integer>
			<key>lat</key>
			<real>23.5</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1391753</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<integer>70</integer>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Jāmnagar</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Jāmnagar</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1269318</integer>
			<key>lat</key>
			<real>22.25</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2160119</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>70.33333</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Jūnāgadh</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Jūnāgadh</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1268774</integer>
			<key>lat</key>
			<real>21.25</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2743082</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<integer>70</integer>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Kachchh</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Kachchh</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1268731</integer>
			<key>lat</key>
			<real>23.58333</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2092371</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.83333</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Kheda</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Kheda</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1266810</integer>
			<key>lat</key>
			<real>22.75</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2299885</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.5</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Mahesāna</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Mahesāna</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1264390</integer>
			<key>lat</key>
			<real>23.66667</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2035064</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.49527</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Narmada District</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Narmada District</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>9165869</integer>
			<key>lat</key>
			<real>21.87377</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>590297</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>72.92</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Navsari</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Navsari</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>9072825</integer>
			<key>lat</key>
			<real>20.95</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1329672</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>71.8</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Patan</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Patan</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>7627238</integer>
			<key>lat</key>
			<real>23.7</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1343734</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>69.59999999999999</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Porbandar</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Porbandar</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>9072780</integer>
			<key>lat</key>
			<real>21.63</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>585449</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.59999999999999</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Pānch Mahāls</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Pānch Mahāls</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1260571</integer>
			<key>lat</key>
			<real>22.75</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2390776</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>70.83333</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Rājkot</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Rājkot</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1258849</integer>
			<key>lat</key>
			<real>22.33333</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>3804558</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.25</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Sabar Kāntha</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Sabar Kāntha</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1257922</integer>
			<key>lat</key>
			<real>23.5</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>2428589</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>71.66667</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Surendranagar</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Surendranagar</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1255350</integer>
			<key>lat</key>
			<real>22.75</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1756268</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.05</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Sūrat</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Sūrat</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1255365</integer>
			<key>lat</key>
			<real>20.91667</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>6081322</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.40000000000001</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Tapi</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Tapi</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>9072813</integer>
			<key>lat</key>
			<real>21.12</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>807022</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.75</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>The Dāngs</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>The Dāngs</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1254616</integer>
			<key>lat</key>
			<real>20.75</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>228291</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.12</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Vadodara</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Vadodara</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1253574</integer>
			<key>lat</key>
			<real>22.18</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>4165626</integer>
		</dict>
		<dict>
			<key>countryId</key>
			<integer>1269750</integer>
			<key>adminCode1</key>
			<integer>9</integer>
			<key>countryName</key>
			<string>India</string>
			<key>fclName</key>
			<string>country, state, region,...</string>
			<key>countryCode</key>
			<string>IN</string>
			<key>lng</key>
			<real>73.08333</real>
			<key>fcodeName</key>
			<string>second-order administrative division</string>
			<key>toponymName</key>
			<string>Valsād</string>
			<key>fcl</key>
			<string>A</string>
			<key>name</key>
			<string>Valsād</string>
			<key>fcode</key>
			<string>ADM2</string>
			<key>geonameId</key>
			<integer>1253469</integer>
			<key>lat</key>
			<real>20.5</real>
			<key>adminName1</key>
			<string>Gujarat</string>
			<key>population</key>
			<integer>1705678</integer>
		</dict>
	</array>
</dict>
</plist>
