<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>totalResultsCount</key><integer>1</integer><key>geonames</key><array><dict><key>adminCode1</key><integer>14</integer><key>lng</key><real>72.73506</real><key>geonameId</key><integer>9748019</integer><key>toponymName</key><string>Lakshadweep</string><key>countryId</key><integer>1269750</integer><key>fcl</key><string>A</string><key>population</key><integer>0</integer><key>countryCode</key><string>IN</string><key>name</key><string>Lakshadweep</string><key>fclName</key><string>country, state, region,...</string><key>countryName</key><string>India</string><key>fcodeName</key><string>second-order administrative division</string><key>adminName1</key><string>Laccadives</string><key>lat</key><real>11.09106</real><key>fcode</key><string>ADM2</string></dict></array></dict></plist>
